<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to text analser </h1>
<h2>Enter your text below</h2>
<form action = '/analyse' method="get">
   <textarea name="text" style='margin: 0px; width: 630px; height: 138px;'></textarea><br>

    <input type="checkbox" name="removepunc"> remove punctuations<br>
    <input type="checkbox" name="fullcaps"> UPPER CASE<br>
    <input type="checkbox" name="newlineremover"> new line remover <br>
    <input type="checkbox" name="extraspaceremover"> extra space removed <br>
    <input type="checkbox" name="charactercount"> count of characters in text <br>
    <button type="submit">Analyse Text</button>

</form>
</body>
</html>